GenerateImage/.project
GenerateImage/.classpath
GenerateImage/.DS_Store
GenerateImage/bin/Features.class
GenerateImage/bin/Main.class
GenerateImage/bin/Utils.class
GenerateImage/out/*
GenerateImage/test/*
GenerateImage/result_1
GenerateImage/tmp
GenerateImage/test_tmp
GenerateImage/train_tmp
GenerateImage/output_test
GenerateImage/output_test_matlab
GenerateImage/output_train
GenerateImage/output_train_matlab
GenerateImage/data
GenerateImage/*.dat
